  <div class="jumbotron">
      <h1>Mateusz Kucz</h1>
      <p> 
      <div class="row">
      <div class="col-xs-5 col-sm-4 col-md-3"><a href="http://www.ucsd.edu" id="link">UC San Diego </a> &middot; </div>
      <div class="col-xs-4 col-sm-6 col-md-3"> <a href="http://www.ucsdtritons.com/SportSelect.dbml?DB_OEM_ID=5800&SPID=2343&SPSID=29950" id="link">UCSD Golf </a>&middot; </div>
       <div class="col-xs-7 col-sm-8 col-md-3"> <a href="http://economics.ucsd.edu/undergraduate-program/major-minor-requirements/mgmt-sci.html" id = "link">Management B.S. </a>&middot; </div>

        </div>
     
       
      
       <div class="row">
        <div class="col-xs-7 col-sm-6 col-md-3"><a href="https://cse.ucsd.edu/undergraduate/degree-programs/minor-computer-science" id="link">Computer Science Minor </a> &middot;</div>

         <div class="col-xs-7 col-sm-6 col-md-3"> <a href="http://www.github.com/mkucz95" id="link">My GitHub </a>&middot;</div>

        <div class="col-xs-7 col-sm-6 col-md-3"> <a href="https://bestdayfoundation.org/" id="link">Best Day Foundation </a>&middot;</div>
       </div>

       </div>
       </p>
  </div>