<!doctype html>

<html>
<head>
  <title>About Mati</title>  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">

  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="css/personal.css" rel="stylesheet">
  <link href="css/navbar.css" rel="stylesheet">
  <link href="css/jumbotron.css" rel="stylesheet">
</head>

<body>
{{> navbar}}

<div class="container">
{{> jumbotron}}
</div>

<div class="page-header" id="aboutme"><h2>About Me</h2></div>
<div class="well">
  <div class="media">
    <div class="media-body">
      <img class="d-flex mr-3 pull-left" src="{{profilePic}}" style="float:left; width:100px">
      I am currently a student at UC San Diego in my fourth year. I am a passionate golfer and I am proud to be on the UCSD Men's Golf Team. I chose UC San Diego because of it's renowned academic caliber in the fields that interest me most - economics and computer science. The perfect weather and location, challenging intellectual environment, and demanding collegiate golf are all factors that have contributed to my progress and success as a student-athlete and person.
      <br><br> I would like to work with businesses, investments, and technologies that deal with social and environmental causes around the world. It is a goal of mine to eventually utilize the languages I know throughout my career.
    </div>
  </div>
</div>

<div class="page-header" id="hobbies"><h5>My Hobbies</h5></div>
<ul id="hobbyList" class="list-group">
  <li class="list-group-item">I enjoy cooking and all kinds of outdoor activities in my free time. As a California resident, I started to surf two years ago. I also enjoy tennis, basketball, volleyball, table tennis, hiking, or just being at the beach.</li>
  <li class="list-group-item">I am also a passionate traveller and I hope to make it to three new places every year. Africa and South America are the next two continents I have set my sights on. </li>
  <li class="list-group-item"> San Diego, CA - is the 6th city in the 6th different country that I have lived in. </li>
</ul>

<!--
<div class="page-header" id="where" data-toggle="collapse" data-target="#key"> <h4>Where Have I Been? <small>Click here</small></h4></div>
<div class="page-header collapse" id="key">
  <div class="row">
    <div class="col-xs-6 col-md-2">Hometown<img id="redDot" src="http://maps.google.com/mapfiles/ms/icons/red-dot.png"></div>
    <div class="col-xs-6 col-md-2">Where I've Lived <img id="greenDot" src="http://maps.google.com/mapfiles/ms/icons/green-dot.png"> </div>
    <div class="col-xs-6 col-md-2">Favourite Place <img id="blueDot" src="http://maps.google.com/mapfiles/ms/icons/blue-dot.png"></div>
    <div class="col-xs-6 col-md-2">Visited <img id="yellowDot" src="http://maps.google.com/mapfiles/ms/icons/yellow-dot.png"></div>
  </div>
</div>
 <div id="myMap"></div>

<div class="golfInfo">
 <div class="page-header" id="golf"><h4>My Golf Results</h4></div>

 <iframe src="https://docs.google.com/spreadsheets/d/1xct86rlrtWizHj_eCGD9SmfXjhL_6R-GRRU5G_rfsec/pubhtml?widget=true&amp;headers=false" id="scores"></iframe>

</div>
-->

</div>

  {{> commonJS}}

<script src="js/canvas-to-blob.min.js"></script>
{{> googleMaps}}
<script src="js/googleMaps.js"></script>
</body>
</html>
