<!doctype html>

<html>
<head>
  <title>M. Kucz Coursework</title>  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">    
</head>

    <body>
    <nav>
      <ul>
       <li><a href="/coursework"> Coursework </a></li>
       <li><a href="/experience"> Experience &amp; References</a></li>
       <li><a href="/personal"> About Me</a></li>
    </ul>
    </nav>

    <footer>
        <a href="tel:1-858-260-4579"> Phone Number: (858)-260 4579 </a>
        <hr>
        <a href="mailto:mkucz@ucsd.edu?subject=Reaching Out From matikucz.com" target="_blank"> Email mkucz@ucsd.edu </a>
</footer>


  <div class="container">
  
<header>
  <h2>Education</h2>
   <dl>
        <dt> International School of Prague</dt>
        <dt>Overseas Family School (OFS) - Singapore</dt>
        <dd>IGSCE</dd>
        <dd> International Baccalaureate (IB) - Bilingual Diploma</dd>

        <dt> <strong>University of California, San Diego (UCSD) </strong> - Expected June 2018 </dt>
        <dd> B.S. in Management Science</dd>
        <dd> Minor in Computer Science</dd> 

        <dt> GPA </dt>
        <dd>Overall: 3.72 - Major GPA: 3.84, Minor GPA: 3.88</dd>
      </dl>
</header>
<div class="row">
  

    <article>
      <heder> <h4 id="classes"> Economics Coursework</h4> </header>
      <section>
          classes go here
      </section>
    </article>


    <article>
      <heder> <h4 id="classes"> Computer Science Coursework</h4> </header>
      <section>
          classes go here
      </section>
    </article>

    <article>
      <heder> <h4 id="classes"> Mathematics Coursework</h4> </header>
      <section>
          classes go here
      </section>
    </article>

    <article>
      <heder> <h4 id="classes"> Chinese Language Coursework</h4> </header>
      <section>
          classes go here
      </section>
    </article>

</div> <!-- container-->


</body>
</html>

