

/* this style exists to make it obvious that you've successfully linked
   the CSS to the page. feel free to remove it once the link is working. */
body {
     border: 1px dotted gray;
     padding: 20px;
     background-color: #F2F2F2;
}

img {
  display: block;
  max-width:400px;
  max-height:300px;
  width: auto;
  height: auto;
}

#copyright{
     padding-top: 5px;
     padding-bottom: 0px;
     font-size: 5px;
}

