
body {
     border: 1px dotted gray;
     padding: 20px;
}


#myMap {
    height: 320px;
}


#scores{
	height: 20em;
	width: 100%;
}

#hometown, #hobbies{
	margin-top: 0em;
}

#aboutme{
	margin-top: 8px;
}

.well{
	border-width: 5px;
	border-color: #4578cc;
}

#mySummary, .media-body{
	border-width: 2px;
	border-color: #000000;
	font-size: 2.5vh;

}

img{
	margin-right: 3%;
	margin-bottom: 3%
}


/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { .well{
	border-width: 50px;
	} }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { .well{
	border-width: 50px;
	} }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { body{
	padding: none;
	} }
